<!DOCTYPE html>
<html>
    <head>
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Tawjih Admin Application Login </title>

        <!-- Bootstrap -->
        <link href={{asset('TawjihWebTemplate/vendors/bootstrap/dist/css/bootstrap.min.css') }} rel="stylesheet">
        <!-- Font Awesome -->
        <link href={{asset('TawjihWebTemplate/vendors/font-awesome/css/font-awesome.min.css') }} rel="stylesheet">
        <!-- NProgress -->
        <link href={{asset('TawjihWebTemplate/vendors/nprogress/nprogress.css') }} rel="stylesheet">
        <!-- Animate.css -->
        <link href={{asset('TawjihWebTemplate/vendors/animate.css/animate.min.css') }} rel="stylesheet">

        <!-- Custom Theme Style -->
        <link href={{asset('TawjihWebTemplate/build/css/custom.min.css') }} rel="stylesheet">
  
    </head>
    <body class="login">
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="container body">
                <div class="top_nav">
                  <div class="nav_menu">
                    <nav>
                        <ul class="nav navbar-nav navbar-right">
                          <li class="">
                              <a href="{{ path('fos_user_security_logout') }}">
                                  {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                              </a>
                          </li>
                          <li>
                                <a>
                                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                                </a>
                            </li>
                        </ul>
                    </nav>
                  </div>
                </div>
            </div>
                <!-- /top navigation -->
            {% else %}
                <!--<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>-->
            {% endif %}
        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="alert alert-success alert-dismissible fade in text-center" role="alert">
                                    <strong>{{ message }}</strong> 
                                </div>
                           </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
                
            {% endblock fos_user_content %}
        </div>
        
        
        <div>
            
            
            
    <!-- jQuery -->
    <script src={{asset('TawjihWebTemplate/vendors/jquery/dist/jquery.min.js') }}></script>
    <!-- Bootstrap -->
    <script src={{asset('TawjihWebTemplate/vendors/bootstrap/dist/js/bootstrap.min.js') }}></script>
    <!-- FastClick -->
    <script src={{asset('TawjihWebTemplate/vendors/fastclick/lib/fastclick.js') }}></script>
    <!-- NProgress -->
    <script src={{asset('TawjihWebTemplate/vendors/nprogress/nprogress.js') }}></script>
    <!-- bootstrap-progressbar -->
    <script src={{asset('TawjihWebTemplate/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}></script>
    <!-- iCheck -->
    <script src={{asset('TawjihWebTemplate/vendors/iCheck/icheck.min.js') }}></script>
    <!-- PNotify -->
    <script src={{asset('TawjihWebTemplate/vendors/pnotify/dist/pnotify.js') }}></script>
    <script src={{asset('TawjihWebTemplate/vendors/pnotify/dist/pnotify.buttons.js') }}></script>
    <script src={{asset('TawjihWebTemplate/vendors/pnotify/dist/pnotify.nonblock.js') }}></script>

    <!-- Custom Theme Scripts -->
    <script src={{asset('TawjihWebTemplate/build/js/custom.min.js') }}></script>
    </body>
</html>
